@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0E111A;
  height: 100%;
  min-width: 320px !important;
}
._section {
  @apply w-full
}
._wrapper {
  @apply px-5 max-w-[1200px] mx-auto
}

._text-shadow{
  filter: drop-shadow(0px 5px #000);
}
._text-shadow-2px{
  /* text-shadow: 0px 2px #000, 0px -2px #FFF; */
  filter: drop-shadow(0px 2px #000);
}
._text-shadow-footer{
  @apply bg-gradient-to-b from-[#5B5B5B] via-[#2A2A2A] to-[#5B5B5B] inline-block  text-transparent bg-clip-text _text-shadow-2px
}

._30_90{
  @apply text-[30px] xs:text-[36px] sm:text-[46px] md:text-[60px] lg:text-[70px] xl:text-[90px]
}
._30_80{
  @apply text-[30px] xs:text-[36px] sm:text-[42px] md:text-[56x] lg:text-[60px] xl:text-[80px]
}
._h2 {
  @apply  text-center w-full mx-auto  text-white inline-block  uppercase mb-[30px] _30_80
}
._24px{
  @apply text-[16px] sm:text-[18px] md:text-[20px] xl:text-[24px] font-medium
}
._20px-extrabold{
  @apply  font-extrabold text-[14px] sm:text-[16px] md:text-[18px] lg:text-[20px]
}
/* ._text-inner-shadow-white{
  text-shadow: 1px 1px white, -1px -1px #444;
} */
._shadow{
  box-shadow: 0 5px 0px 0px rgb(0 0 0 / 1), inset 0 3px 2px 0 rgb(255 255 255 / 0.4);
}
._stroke{
  text-shadow: rgb(76, 119, 230) 5px 0px 0px, rgb(76, 119, 230) 4.90033px 0.993347px 0px, rgb(76, 119, 230) 4.60531px 1.94709px 0px, rgb(76, 119, 230) 4.12668px 2.82321px 0px, rgb(76, 119, 230) 3.48353px 3.58678px 0px, rgb(76, 119, 230) 2.70151px 4.20736px 0px, rgb(76, 119, 230) 1.81179px 4.6602px 0px, rgb(76, 119, 230) 0.849836px 4.92725px 0px, rgb(76, 119, 230) -0.145998px 4.99787px 0px, rgb(76, 119, 230) -1.13601px 4.86924px 0px, rgb(76, 119, 230) -2.08073px 4.54649px 0px, rgb(76, 119, 230) -2.94251px 4.04248px 0px, rgb(76, 119, 230) -3.68697px 3.37732px 0px, rgb(76, 119, 230) -4.28444px 2.57751px 0px, rgb(76, 119, 230) -4.71111px 1.67494px 0px, rgb(76, 119, 230) -4.94996px 0.7056px 0px, rgb(76, 119, 230) -4.99147px -0.291871px 0px, rgb(76, 119, 230) -4.83399px -1.27771px 0px, rgb(76, 119, 230) -4.48379px -2.2126px 0px, rgb(76, 119, 230) -3.95484px -3.05929px 0px, rgb(76, 119, 230) -3.26822px -3.78401px 0px, rgb(76, 119, 230) -2.4513px -4.35788px 0px, rgb(76, 119, 230) -1.53666px -4.75801px 0px, rgb(76, 119, 230) -0.560763px -4.96845px 0px, rgb(76, 119, 230) 0.437495px -4.98082px 0px, rgb(76, 119, 230) 1.41831px -4.79462px 0px, rgb(76, 119, 230) 2.34258px -4.41727px 0px, rgb(76, 119, 230) 3.17346px -3.86382px 0px, rgb(76, 119, 230) 3.87783px -3.15633px 0px, rgb(76, 119, 230) 4.4276px -2.32301px 0px, rgb(76, 119, 230) 4.80085px -1.39708px 0px, rgb(76, 119, 230) 4.98271px -0.415447px 0px;
}
._stroke2{
  text-shadow: rgb(17, 44, 95) 15px 0px 0px, rgb(17, 44, 95) 14.9667px 0.999259px 0px, rgb(17, 44, 95) 14.8669px 1.99408px 0px, rgb(17, 44, 95) 14.701px 2.98004px 0px, rgb(17, 44, 95) 14.4698px 3.95276px 0px, rgb(17, 44, 95) 14.1744px 4.90792px 0px, rgb(17, 44, 95) 13.8159px 5.84128px 0px, rgb(17, 44, 95) 13.3961px 6.74868px 0px, rgb(17, 44, 95) 12.9168px 7.6261px 0px, rgb(17, 44, 95) 12.38px 8.46964px 0px, rgb(17, 44, 95) 11.7883px 9.27555px 0px, rgb(17, 44, 95) 11.1442px 10.0402px 0px, rgb(17, 44, 95) 10.4506px 10.7603px 0px, rgb(17, 44, 95) 9.71056px 11.4326px 0px, rgb(17, 44, 95) 8.92738px 12.0541px 0px, rgb(17, 44, 95) 8.10453px 12.6221px 0px, rgb(17, 44, 95) 7.24568px 13.1339px 0px, rgb(17, 44, 95) 6.35464px 13.5874px 0px, rgb(17, 44, 95) 5.43537px 13.9806px 0px, rgb(17, 44, 95) 4.49194px 14.3116px 0px, rgb(17, 44, 95) 3.52856px 14.5791px 0px, rgb(17, 44, 95) 2.54951px 14.7817px 0px, rgb(17, 44, 95) 1.55912px 14.9188px 0px, rgb(17, 44, 95) 0.561813px 14.9895px 0px, rgb(17, 44, 95) -0.437993px 14.9936px 0px, rgb(17, 44, 95) -1.43585px 14.9311px 0px, rgb(17, 44, 95) -2.42733px 14.8023px 0px, rgb(17, 44, 95) -3.40803px 14.6077px 0px, rgb(17, 44, 95) -4.37359px 14.3482px 0px, rgb(17, 44, 95) -5.31971px 14.025px 0px, rgb(17, 44, 95) -6.2422px 13.6395px 0px, rgb(17, 44, 95) -7.13696px 13.1933px 0px, rgb(17, 44, 95) -8.00001px 12.6886px 0px, rgb(17, 44, 95) -8.82752px 12.1274px 0px, rgb(17, 44, 95) -9.6158px 11.5124px 0px, rgb(17, 44, 95) -10.3614px 10.8463px 0px, rgb(17, 44, 95) -11.0609px 10.1319px 0px, rgb(17, 44, 95) -11.7113px 9.37259px 0px, rgb(17, 44, 95) -12.3097px 8.5716px 0px, rgb(17, 44, 95) -12.8533px 7.73252px 0px, rgb(17, 44, 95) -13.3399px 6.85909px 0px, rgb(17, 44, 95) -13.7672px 5.95518px 0px, rgb(17, 44, 95) -14.1333px 5.02482px 0px, rgb(17, 44, 95) -14.4367px 4.07214px 0px, rgb(17, 44, 95) -14.6759px 3.10136px 0px, rgb(17, 44, 95) -14.8499px 2.1168px 0px, rgb(17, 44, 95) -14.9579px 1.12284px 0px, rgb(17, 44, 95) -14.9995px 0.123888px 0px, rgb(17, 44, 95) -14.9744px -0.875612px 0px, rgb(17, 44, 95) -14.8828px -1.87122px 0px, rgb(17, 44, 95) -14.7251px -2.85852px 0px, rgb(17, 44, 95) -14.502px -3.83312px 0px, rgb(17, 44, 95) -14.2144px -4.79068px 0px, rgb(17, 44, 95) -13.8637px -5.72697px 0px, rgb(17, 44, 95) -13.4514px -6.63781px 0px, rgb(17, 44, 95) -12.9793px -7.51916px 0px, rgb(17, 44, 95) -12.4496px -8.3671px 0px, rgb(17, 44, 95) -11.8645px -9.17787px 0px, rgb(17, 44, 95) -11.2268px -9.94786px 0px, rgb(17, 44, 95) -10.5391px -10.6737px 0px, rgb(17, 44, 95) -9.80465px -11.352px 0px, rgb(17, 44, 95) -9.02663px -11.98px 0px, rgb(17, 44, 95) -8.20851px -12.5547px 0px, rgb(17, 44, 95) -7.35391px -13.0736px 0px, rgb(17, 44, 95) -6.46665px -13.5345px 0px, rgb(17, 44, 95) -5.55065px -13.9352px 0px, rgb(17, 44, 95) -4.60999px -14.274px 0px, rgb(17, 44, 95) -3.64885px -14.5494px 0px, rgb(17, 44, 95) -2.67151px -14.7602px 0px, rgb(17, 44, 95) -1.68229px -14.9054px 0px, rgb(17, 44, 95) -0.685596px -14.9843px 0px, rgb(17, 44, 95) 0.314142px -14.9967px 0px, rgb(17, 44, 95) 1.31248px -14.9425px 0px, rgb(17, 44, 95) 2.305px -14.8218px 0px, rgb(17, 44, 95) 3.28727px -14.6354px 0px, rgb(17, 44, 95) 4.25493px -14.3839px 0px, rgb(17, 44, 95) 5.20369px -14.0685px 0px, rgb(17, 44, 95) 6.12934px -13.6906px 0px, rgb(17, 44, 95) 7.02775px -13.2518px 0px, rgb(17, 44, 95) 7.89494px -12.7542px 0px, rgb(17, 44, 95) 8.72705px -12.1999px 0px, rgb(17, 44, 95) 9.52039px -11.5915px 0px, rgb(17, 44, 95) 10.2714px -10.9315px 0px, rgb(17, 44, 95) 10.9768px -10.223px 0px, rgb(17, 44, 95) 11.6335px -9.469px 0px, rgb(17, 44, 95) 12.2384px -8.67297px 0px, rgb(17, 44, 95) 12.789px -7.83842px 0px, rgb(17, 44, 95) 13.2828px -6.96903px 0px, rgb(17, 44, 95) 13.7175px -6.06869px 0px, rgb(17, 44, 95) 14.0914px -5.14138px 0px, rgb(17, 44, 95) 14.4026px -4.19123px 0px, rgb(17, 44, 95) 14.6498px -3.22246px 0px, rgb(17, 44, 95) 14.8319px -2.23938px 0px, rgb(17, 44, 95) 14.9481px -1.24634px 0px, rgb(17, 44, 95) 14.998px -0.247768px 0px;
}
._stroke_ticker{
  text-shadow: rgb(54, 88, 172) 2px 0px 0px, rgb(54, 88, 172) 1.75517px 0.958851px 0px, rgb(54, 88, 172) 1.0806px 1.68294px 0px, rgb(54, 88, 172) 0.141474px 1.99499px 0px, rgb(54, 88, 172) -0.832294px 1.81859px 0px, rgb(54, 88, 172) -1.60229px 1.19694px 0px, rgb(54, 88, 172) -1.97998px 0.28224px 0px, rgb(54, 88, 172) -1.87291px -0.701566px 0px, rgb(54, 88, 172) -1.30729px -1.5136px 0px, rgb(54, 88, 172) -0.421592px -1.95506px 0px, rgb(54, 88, 172) 0.567324px -1.91785px 0px, rgb(54, 88, 172) 1.41734px -1.41108px 0px, rgb(54, 88, 172) 1.92034px -0.558831px 0px;
}
._stroke_ticker_2{
  text-shadow: rgb(17, 44, 95) 6px 0px 0px, rgb(17, 44, 95) 5.91686px 0.995377px 0px, rgb(17, 44, 95) 5.66974px 1.96317px 0px, rgb(17, 44, 95) 5.2655px 2.87655px 0px, rgb(17, 44, 95) 4.71532px 3.71022px 0px, rgb(17, 44, 95) 4.03447px 4.44106px 0px, rgb(17, 44, 95) 3.24181px 5.04883px 0px, rgb(17, 44, 95) 2.35931px 5.51667px 0px, rgb(17, 44, 95) 1.41143px 5.83163px 0px, rgb(17, 44, 95) 0.424423px 5.98497px 0px, rgb(17, 44, 95) -0.574341px 5.97245px 0px, rgb(17, 44, 95) -1.55719px 5.79441px 0px, rgb(17, 44, 95) -2.49688px 5.45578px 0px, rgb(17, 44, 95) -3.36738px 4.96596px 0px, rgb(17, 44, 95) -4.14455px 4.33852px 0px, rgb(17, 44, 95) -4.80686px 3.59083px 0px, rgb(17, 44, 95) -5.33596px 2.74364px 0px, rgb(17, 44, 95) -5.71718px 1.8204px 0px, rgb(17, 44, 95) -5.93995px 0.84672px 0px, rgb(17, 44, 95) -5.99811px -0.150428px 0px, rgb(17, 44, 95) -5.89004px -1.14341px 0px, rgb(17, 44, 95) -5.61874px -2.1047px 0px, rgb(17, 44, 95) -5.19172px -3.00766px 0px, rgb(17, 44, 95) -4.62082px -3.82727px 0px, rgb(17, 44, 95) -3.92186px -4.54081px 0px, rgb(17, 44, 95) -3.11421px -5.12852px 0px, rgb(17, 44, 95) -2.22026px -5.57409px 0px, rgb(17, 44, 95) -1.26477px -5.86518px 0px, rgb(17, 44, 95) -0.274238px -5.99373px 0px, rgb(17, 44, 95) 0.723898px -5.95617px 0px, rgb(17, 44, 95) 1.70197px -5.75355px 0px, rgb(17, 44, 95) 2.63288px -5.39147px 0px, rgb(17, 44, 95) 3.49082px -4.87998px 0px, rgb(17, 44, 95) 4.25202px -4.23324px 0px, rgb(17, 44, 95) 4.89538px -3.46919px 0px, rgb(17, 44, 95) 5.40307px -2.60899px 0px, rgb(17, 44, 95) 5.76102px -1.67649px 0px, rgb(17, 44, 95) 5.95932px -0.697531px 0px;
}

._phase1 {
  position: relative;
}
._phase1::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius:0px 35px 0px 0px; 
  padding: 2px 2px 0px 0px; 
  background:linear-gradient(135deg, #326CC9 50%,#086192); /* rgba(255,0,0,0) */
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

@media (max-width: 767px) {
  ._phase1::before{
    border-radius:0px 35px 35px 0px; 
    padding: 2px 2px 2px 0px; 
    background:linear-gradient(135deg, #235CA1 50%,#0873B5);
    
  }
}


._phase2 {
  position: relative;
}
._phase2::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius:0px 0px 0px 35px; 
  padding: 0px 0px 2px 2px; 
  background:linear-gradient(135deg, #326CC9 50%,#1C5D9D); /* rgba(255,0,0,0) */
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

@media (max-width: 767px) {
  ._phase2::before{
    border-radius:35px 0px 0px 35px; 
    padding: 2px 0px 2px 2px; 
    background:linear-gradient(135deg, #0873B5 50%, #3963C1);
  }
}

._phase-none {
  position: relative;
}
._phase-none::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius:0px 35px 0px 0px; 
  padding: 2px 2px 0px 0px; 
  background:linear-gradient(135deg, #1C5D9D 50%,#3658AD); /* rgba(255,0,0,0) */
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}


._phase3 {
  position: relative;
}
._phase3::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius:0px 0px 35px 35px; 
  padding: 0px 2px 2px 2px; 
  background:linear-gradient(135deg, #0D6196 20%,#3658AD 20% 100%); /* rgba(255,0,0,0) */
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

@media (max-width: 767px) {
  ._phase3::before{
    border-radius:0px 35px 35px 0px; 
    padding: 2px 2px 2px 0px; 
    background:linear-gradient(135deg, #3963C1 50%, #1C7DD9);
  }
}


._phase4 {
  position: relative;
}
._phase4::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius:0px 35px 0px 0px; 
  padding: 2px 2px 0px 0px; 
  background:linear-gradient(135deg, #0D6196 30%,#3D80F2); /* rgba(255,0,0,0) */
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

@media (max-width: 767px) {
  ._phase4::before{
    border-radius:35px 0px 0px 35px; 
    padding: 2px 0px 2px 2px; 
    background:linear-gradient(135deg, #1C7DD9 50%, #4380F3);
  }
}
@keyframes _animateRoadmap{
  0%, 100% {
    top: -25%;
  }

  50% {
    top: 50%;
  }
}
._animate-roadmap {
  animation: _animateRoadmap 10s ease-in-out infinite;
}
@keyframes _animateRoadmapDown{
  0%, 100% {
    bottom: -25%;
  }

  50% {
    bottom: 50%;
  }
}
._animate-roadmapDown {
  animation: _animateRoadmapDown 10s ease-in-out infinite;
}
@keyframes _moveUp{
  0%, 100% {
    top: 0;
  }
  
  50% {
    top: -25%;
  }
}

._animate-moveUp {
  animation: _moveUp 6s ease-in-out infinite;
}

@keyframes _moveDown{
  0%, 100% {
    bottom: 0;
  }
  
  50% {
    bottom: -25%;
  }
}

._animate-moveDown {
  animation: _moveDown 6s ease-in-out infinite;
}


@keyframes _mission{
  0%, 100% {
    bottom: -50%;
  }
  
  50% {
    bottom: -25%;
  }
}

._animate-mission {
  animation: _mission 10s ease-in-out infinite;
}





@keyframes _main{
  0% { 
    transform:rotate(0deg);  
  }
  
  100% { 
    transform:rotate(-20deg);
    left: 5%;  
    bottom: 5%;
  }
}

._animate-main {
  animation: _main 1.5s ease-in-out forwards;
}

@keyframes _lines-left{
  0% { 
    left: 20%  
  }
  
  100% { 
    left: 15%;
  }
}
._animate-lines-left{
  animation: _lines-left 1.5s ease-in-out forwards;
}


@keyframes _lines-right{
  0% { 
    right: 20%  
  }
  
  100% { 
    right: 15%;
  }
}
._animate-lines-right{
  animation: _lines-right 1.5s ease-in-out forwards;
}

@keyframes _lines-right-0-10{
  0% { 
    right: 20%  
  }
  
  100% { 
    right: 0%;
  }
}
@keyframes _lines-left-0-10{
  0% { 
    left: 20%  
  }
  
  100% { 
    left: 0%;
  }
}

@media (max-width: 767px) {
  ._animate-lines-right{
    animation: _lines-right-0-10 1.5s ease-in-out forwards;
  }
  ._animate-lines-left{
    animation: _lines-left-0-10 1.5s ease-in-out forwards;
  }
}